{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/markdown","body":{"encoding":"UTF-8","base64_string":"eyJtb2RlIjoiZ2ZtIiwidGV4dCI6Iipmb28qIn0=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/html;charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["51"], "X-Ratelimit-Reset":["1379211446"]},"body":{"encoding":"UTF-8","base64_string":"PHA+PGVtPmZvbzwvZW0+PC9wPg==\n"},"http_version":null},"recorded_at":"Sun, 15 Sep 2013 01:19:03 GMT"}],"recorded_with":"VCR 2.5.0"}