{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/repos/defunkt/dotjs/subscription","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4970"], "X-Ratelimit-Reset":["1380990973"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Sat, 05 Oct 2013 15:50:33 GMT"}],"recorded_with":"VCR 2.5.0"}