{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/pengwynn/dotfiles/languages","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["18"], "X-Ratelimit-Reset":["1381020986"], "Last-Modified":["Thu, 03 Oct 2013 15:33:42 GMT"], "Etag":["\"84ec580f451bbb2ac2f767df01105e5a\""], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJTaGVsbCI6OTI2MjksIlNjYWxhIjoyOSwiUnVieSI6Nzg5NCwiSmF2YVNj\ncmlwdCI6OTE4MDEsIlBlcmwiOjYwNjIxLCJSIjo0MywiRXJsYW5nIjoxMzQ1\nLCJSYWNrZXQiOjEwNSwiUEhQIjo2MTM5LCJWaW1MIjo3MjkwfQ==\n"},"http_version":null},"recorded_at":"Sun, 06 Oct 2013 00:13:39 GMT"}],"recorded_with":"VCR 2.5.0"}