{"http_interactions":[{"request":{"method":"head","uri":"https://api.github.com/repos/pengwynn/octonaut/zipball/master","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":302,"message":"Found"},"headers":{"Content-Type":["text/html;charset=utf-8"], "Status":["302 Found"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["23"], "X-Ratelimit-Reset":["1381020986"], "Location":["https://codeload.github.com/pengwynn/octonaut/legacy.zip/master"]},"body":{"encoding":"US-ASCII","base64_string":""},"http_version":null},"recorded_at":"Sun, 06 Oct 2013 00:13:37 GMT"}],"recorded_with":"VCR 2.5.0"}