{"http_interactions":[{"request":{"method":"head","uri":"https://api.github.com/repos/pengwynn/octonaut/zipball/master","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":302,"message":"Found"},"headers":{"Content-Type":["text/html;charset=utf-8"], "Status":["302 Found"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["55"], "X-Ratelimit-Reset":["1381002784"], "Location":["https://codeload.github.com/pengwynn/octonaut/legacy.zip/master"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Sat, 05 Oct 2013 18:53:06 GMT"}],"recorded_with":"VCR 2.5.0"}