{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/user/following/mojombo","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4989"], "X-Ratelimit-Reset":["1381010045"], "X-Oauth-Scopes":["repo, user, gist, delete_repo"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Sat, 05 Oct 2013 21:02:29 GMT"},{"request":{"method":"delete","uri":"https://api.github.com/user/following/joeyw","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4988"], "X-Ratelimit-Reset":["1381010045"], "X-Oauth-Scopes":["repo, user, gist, delete_repo"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Sat, 05 Oct 2013 21:02:29 GMT"},{"request":{"method":"delete","uri":"https://api.github.com/user/following/linus","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4987"], "X-Ratelimit-Reset":["1381010045"], "X-Oauth-Scopes":["repo, user, gist, delete_repo"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Sat, 05 Oct 2013 21:02:29 GMT"}],"recorded_with":"VCR 2.5.0"}